@import "tailwindcss";

html,
body {
  margin: 0;
  width: 324px;
  color: #171717;
  font-family: system-ui, -apple-system, sans-serif;
  color-scheme: light dark;
}

#root {
  width: 324px;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color: #fafafa;
  }
}

/* #root {
  width: 360px;
  min-height: 400px;
} */
